/** Helper Classes **/
.centered{
    text-align: center;
}

.msg-box.show{
    animation: show_slide 1s ease forwards;
}

.msg-box.hide{
    display:none;
}

@keyframes show_slide {
    0%{
        transform: translateX(-30%);
    }
    40%{
        transform: translateX(10%);
    }
     80%{
         transform: translateX(0%);
     }

     100%{
         transform: translateX(10px);
     }
}

